body {
	font-family: "Helvetica", "Arial", Sans-Serif;
	background-color: rgba(237, 241, 242, 1);
}

.copy-center-body {
	width: 100%;
	float: left;
	background-color: $white;

	-webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.32);
	-moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.32);
	box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.32);

	margin-top: 5em;

}

.cc-header {
	background-color: $bg-blue;
	color: white;
	padding-left: 1.3em;
	padding-right: 1.3em;
	padding-top: 1em;
	padding-bottom: 1em;
}

.cc-nav {
	padding-top: 0.8em;
	padding-bottom: 0.8em;
	padding-left: 2.4em;
	padding-right: 2.4em;
}

.cc-input-check {
	background-color: $bg-grey!important;
	border: 1px solid $bg-grey!important;
	padding: 0.8em 0.75em!important;
}

.nav-item-active {
	color: $orange!important;
}

.cc-nav-item {
	float: left;
	color: $dark-grey;
	font-size: 1.1em;
	margin-left: 1.35em;
	margin-right: 1.35em;
	font-weight: bold;
	cursor: default;
}

.cc-nav-item:hover {
	color: $orange;
}

.cc-form {
	padding: 2em;
	background-color: $bg-grey;
}

.cc-form-row {
	float: left;
	width: 100%;
}

.cc-form-row-check {
	float: left;
	width: 100%;
}

.cc-form-btn {
	color: #fff;
	background-color: $grey-2;
	border-color: none;
	display: inline-block;
	padding: 6px 22px;
	margin-bottom: 0;
	letter-spacing: 0.04em;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.cc-form-btn:hover {
	background-color: rgba(79, 79, 79, 1);
}

.cc-form-btn:focus {
	outline: none;
	background-color: $light-blue;
}

.cc-underline {
	height: 4px;
	float: left;
	width: 100%;
	background-color: $orange;
}

.cc-form-input {
	float: left;
	border-radius: 0.4em;
	background-color: $white;
	border: none;
	padding: 0.7em 1em;
	color: $grey-2;
	font-size: 1.2em;
	border: 1px solid $white;
	margin-bottom: 1.2em;
	font-weight: 300;
	text-align: left;

	textarea {
		resize: none!important;
	}
}

.cc-form-input-check {
	float: left;
	border-radius: 0.4em;
	border: none;
	padding: 0.5em 1em;
	color: $grey-2;
	font-size: 1em;
	margin-bottom: 0em;
	font-weight: 300;
	text-align: left;
}

.cc-form-input-select {
	float: left;
	border-radius: 0.4em;
	background-color: $white;
	border: none;
	padding: 0.7em 1em;
	color: $grey-2;
	font-size: 1.15em;
	border: 1px solid $white;
	margin-bottom: 1.2em;
	font-weight: 300;
	overflow: hidden;
    background-color: #fff;
    background: #fff;
    

    select 
    {	
    	background-color: $white;
    	width: 90%;
    	box-shadow: none;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
            border: none;
    }
}

.cc-form-input-select:after {
	float: right;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    pointer-events: none;
    border-color: $white;
    border-top-color: $grey-2;
    border-width: 8px;
    margin-top: 7px;
    z-index: 100;
}

.cc-form-input-select 
	 select:focus {
		outline: none;
}

.cc-form-input-i {
	width: 80%;
	float: left;
	background-color: $white;
	border: none;
	color: $grey-2;
	font-size: 0.95em;
	border: none;
	font-weight: 300;
}

.cc-form-input-i:focus {
	outline: none;
}

.cc-form-input:focus {
	border: 1px solid $light-blue;
	outline: none;
	color: $light-blue;
}

.cc-progress-row {
	margin-bottom: 1em;
	float: left;
	width: 100%;
}

.cc-progress-bar {
	background-color: white;
	width: 100%;
	float: left;
}

.cc-progress-txt {
	color: $grey-2;
	font-size: 1em;
	font-weight: 300;
	text-align: left;
}

.cc-progress-percent {
	color: $grey-2;
	font-size: 1em;
	font-weight: 300;
	text-align: right;
}

.cc-progress-bar-fill {
	width: 80%;
	background-color: $yellow;
	float: left;
}
